{
    "tabWidth": 4,
    "printWidth": 120,
    "trailingComma": "all",
    "singleQuote": false,
    "semi": true,
    "arrowParens": "avoid",
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./src/index.css"
}
